.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 40rem;
}

.carousel-container {
	height: 300px;
	width: 200px;
	align-items: center;
}

img {
	max-height: 10cm;
	max-width: 5cm;
}
