.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 40rem;
}

img {
	max-height: 10cm;
	max-width: 5cm;
}

.text {
	flex: 2;
	padding: 0 20px;
}
