::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}
.shopTitle {
	margin-top: 100px;
	text-align: center;
	font-size: 40px;
}
.products {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
}
.section,
.section-center {
	padding: 3rem 0;
	width: 90vm;
	max-width: 1120px;
	margin: 0 auto;
	display: table-row;
}

.section-center {
	display: grid;
	gap: 2rem;
}
@media screen and (min-width: 776px) {
	.products {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (min-width: 992px) {
	.products {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
.single-product {
	background: white;
	color: gray;
	border-radius: 0.25rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	transition: 0.3s ease-in-out all;
}
.single-product:hover {
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.single-product img {
	height: 15rem;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.single-product p {
	padding: 0;
	margin: 0;
}
.single-product footer {
	padding: 1rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.add-btn {
	background: transparent;
	border: transparent;
	font-size: 0.75rem;
	cursor: pointer;
	transition: 0.3s ease-in-out all;
}
.add-btn:hover {
	background-color: black;
	color: white;
	transform: translateY(-2px);
}
.product-image:hover {
	transform: rotate(360deg);
	transition: transform 0.8s ease-in-out;
}
.modal {
	position: fixed;
	background-color: #fff;
	z-index: 9999;
	padding: 20px;
}
.openModalBtn {
	display: flex;
	align-items: center;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.itemCount {
	margin-left: 10px;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
}
