.navbar {
	width: 100%;
	height: 100px;
	background-color: rgb(153, 139, 139);
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	margin-right: 50px;
	display: flex;
	align-items: center;
}

.shop-link {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	color: white;
	padding: 2.5rem;
	transition: 0.3s ease-in-out all;
}

.shop-link:hover {
	color: blue;
}

.cart-icon {
	padding: 2.5rem;
	transition: 0.3s ease-in-out all;
}

.cart-icon:hover {
	color: red;
}

.logo-container {
	margin-right: auto;
	padding-left: 10px;
}
